<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUDOKU</title>
    <style>
        .btn{
            margin: 10px 10px 10px 0px;
            padding: 5px;
            font-size: 15px;
        }
        body{
            font-family: 'Roboto';
            font-size: 15px;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <div>
        <h1>
            YOU WIN!!!
        </h1>
    </div>
    <form action = "/" method = "get">
        <div>
            <button type="submit" class = "btn">Play Again!</button>
        </div>
    </form>
</body>
</html>